__pycache__

.spyproject
.pytest_cache

docs/build
docs/_build
docs/debug.log
docs/.vscode
docs/source/generated
docs/source/auto_examples
docs/source/api/autodoc_additional_props.rst

docs/source/_tables
docs/source/_static/example_gifs_very_old

logos
tests/Images
_additional
eomaps/qtcompanion/_unused

build
dist
EOmaps.egg-info

.ipynb_checkpoints
examples/.ipynb_checkpoints
tests/.ipynb_checkpoints
tests/.pylint.d

_exclude*

docs/jupyter_execute/*
docs/.jupyter_cache/*
docs/.virtual_documents/*

# mac
.DS_Store
