__pycache__
examples/.ipynb_checkpoints
_additional
docs/build
docs/_build
docs/debug.log
docs/.vscode
docs/generated
docs/_tables
.spyproject
EOmaps.egg-info
.pytest_cache
logos
tests/Images
tests/.ipynb_checkpoints
tests/_static/example_gifs_very_old
