repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
    -   id: check-merge-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
    -   id: mixed-line-ending
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
