/* This file is used to override the default PyData theme styles */

html {
    --pst-font-size-base: 17px;
}

.bd-content {
  flex-grow: 1;
  max-width: 100%;
}
.bd-page-width {
  max-width: 100rem;
}
.bd-main .bd-article-container {
  max-width: 100%;
}
