name: test_Maps

on:
   pull_request:
   # to trigger workflow manually from actions-tab
   workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # set operating systems to test
        os: [windows-latest, ubuntu-latest]
        # set python versions to test
        python-version: ["3.9", "3.10", "3.11"]

    name: test_Maps ${{ matrix.os }}  ${{ matrix.python-version }}
    steps:
      # checkout repository
      - uses: actions/checkout@v3
      # install miniconda environment

      - uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.3.1-0'
          environment-file: tests/test_env.yml
          init-shell: >-
            bash
          cache-environment: true
          post-cleanup: 'all'
          create-args: >-
            python=${{ matrix.python-version }}
      - name: Test Maps
        shell: bash -l {0}
        run: |
          pip install -e .[all]
          python -m pytest -v --cov=eomaps --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          env_vars: ${{ matrix.os }}, ${{ matrix.python-version }}
          name: maps_coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
